@import "shared/_variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "shared/header.css";
@import "shared/buttons.css";
@import "shared/form.css";

:root {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--color-text-light);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    var(--color-background-dark),
    var(--color-background-light)
  );
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}
.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}

.books-view {
  display: flex;
}
/* 
.home-page-books {
  margin-left: 0;
} */

.single-book-view {
  margin-left: 1rem;
}

.single-book-view:first-child {
  margin-left: 0;
}
